@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.App {
  text-align: center;
  font-family: "Quicksand";
}

.App-logo {
  pointer-events: none;
  height: 50vh;
  position: relative;
  margin-top: 100px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-image: linear-gradient(to right bottom, #222831, #262c35, #2a3039, #2f343d, #333841, #38424e, #3c4c5b, #3f5768, #3c6b80, #338196, #2197a8, #00adb5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input {
  color: #61dafb;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #282c34;
  position: relative;
}

.submitButton {
  position: relative;
  transform: translateY(35px);
}

.form {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.ages {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

p {
  transform: translateY(20px);
  padding: 5px 5px;
}

li {
  list-style-type: none;
  align-items: center;
}

ul {
  display: grid;
}

.button {
  display: flex;
}

.increase {
  padding: 10px 10px;
  border-radius: 7px;
  background-color: #282c34;
  color: rgb(110, 110, 110);
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 20px;
  font-family: inherit;
}

.increase:hover {
  color: white;
  font: large;
}

.decrease {
  padding: 5px 10px;
  border-radius: 7px;
  background-color: #282c34;
  color: rgb(110, 110, 110);
  cursor: pointer;
  margin-bottom: 5px;
  margin-left: 20px;
  font-family: inherit;
}


.decrease:hover {
  color: white;
  font: large;
}

.email-label {
  color: #222;
}

.email-input {
  font-family: inherit;
  background-color: #222;
  color: #2197a8;
  border-radius: 6px;
  position: relative;
  padding: 7px 7px;
  text-align: center;
  margin: 0 auto;
}

.name-label {
  color: #222;
}

.name-input {
  font-family: inherit;
  background-color: #222;
  color: #2197a8;
  border-radius: 6px;
  position: relative;
  padding: 7px 7px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}

.submit-button {
  position: relative;
  transform: translateX(80px);
  background-color: #00adb5;
  margin-top: 30px;
  color: white;
  border-radius: 10px 10px;
  padding: 5px 50px;
  font-size: large;
  font-family: inherit;
  cursor: pointer;
}

.onSub {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
}

.name-email {
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 0.8em;
  color: #222;
  transform: translateY(100px) translateX(140px);
  
}